---
import Layout from '../layouts/Layout.astro';
---
<Layout>
    <div class="grid page" style="padding-top: 4rem;">
        <div class="content">
            <p class="fg0" style="font-size: 1.6rem;">404</p>
            <h1 class="h2 pretty-text-gradient" style="margin-top: 0px;">Not Found</h1>
            <p>Sorry, that page doesn't exist.</p>
            <a class="button alt" href="/">
                View Homepage?
            </a>
        </div>
    </div>
</Layout>
