---
import Layout from "../layouts/Layout.astro";
import SparklesSVG from "../components/SparklesSVG.astro";
import Programs from "../components/Programs.astro";
---
<Layout activePage="home" title="STTNJ">
    <div class="grid intro" style="border-bottom: none;">
        <div class="logotype">
            <div class="logo" style="width: 3rem; height: 3rem;">
                    <SparklesSVG></SparklesSVG>
                </div>
            <div>
                <p class="h3">STTNJ</p>
            </div>
        </div>
        <div class="content">
            <span class="h3">
                We're a student-run organization
                <span class="optional-line">teaching <span class="pretty-text-gradient">Comp Sci<span style="color: var(--fg-1);">,</span> Coding<span style="color: var(--fg-1);">, &</span> Robotics</span></span>
            </span>
        </div>
    </div>
    <div class="grid page" style="margin-bottom: 8rem;">
        <div class="content">
            <Programs></Programs>
        </div>
    </div>
</Layout>
