---
import Layout from "../layouts/Layout.astro";
import Programs from "../components/Programs.astro";
---
<Layout activePage="programs" title="STTNJ Programs & Events">
    <div class="grid page" style="padding-top: 2rem; margin-bottom: 8rem;">
        <div class="content">
            <Programs></Programs>
        </div>
    </div>
</Layout>
