---
import Layout from "../layouts/Layout.astro";
import Programs from "../components/Programs.astro";
---
<Layout activePage="volunteer" title="STTNJ Volunteer">
    <div class="grid page" style="margin-top: 2rem; margin-bottom: 8rem;">
        <div class="content">
            <p>STTNJ is a student-run nonprofit organization, </p>
        </div>
    </div>
</Layout>
