---
import IconMenu from "./icons/Menu.astro";
import IconCloseXMark from "./icons/CloseXMark.astro";
const { activePage } = Astro.props;
---
<header class="navbar" style="margin-bottom: 0px; --main: var(--fg-1); --main-on-bg: var(--fg-1); --main-alt: var(--yay-alt); --main-alt-on-bg: var(--yay-alt);">
    <div class="menu">
        <input type="checkbox" id="nav-menu-toggle" class="nav-menu-toggle" />
        <label for="nav-menu-toggle" class="nav-menu-open">
            <IconMenu width="1.2rem" height="1.2rem" />
        </label>
        <label for="nav-menu-toggle" class="nav-menu-close">
            <IconCloseXMark width="1.4rem" height="1.4rem" />
        </label>
        <div class="nav-menu">
            <div class={
              (activePage == "home") ? "current" : ""
            }>
              <a href="/">Home</a>
            </div>
            <div class={ activePage == "programs" ? "current" : "" }>
              <a href="/programs">Programs & Events</a>
            </div>
            <!--<div class={ page.data?.header?.activePage == "classes" ? "current" : "" }>
              <a href="/classes">Classes</a>
            </div>-->
            <div class={ activePage == "volunteer" ? "current" : "" }>
              <a href="/volunteer">Volunteer</a>
            </div>
        </div>
    </div>
</header>
