---
const { title, activePage } = Astro.props;
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
        <title>{title ?? "STTNJ"}</title>
        <link rel="icon" href="/favicon.ico" sizes="32x32">
        <link rel="icon" href="/icon.svg" type="image/svg+xml">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <link rel="stylesheet" href="/immutable/css-20251125/ehui.min.css">
        <link rel="stylesheet" href="/immutable/themes-20251128/auto-light-midnight.min.css">
        <link rel="preload" href="/immutable/fonts-20251111/inter.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript><link rel="stylesheet" href="/immutable/fonts-20251111/inter.css"></noscript>
        <script>
            const theme = localStorage.getItem("sttnj:theme");
            if (theme == "light") {
                document.documentElement.classList.add("theme-light");
            } else if (theme == "dark") {
                document.documentElement.classList.add("theme-midnight");
            }
        </script>
        <style is:global>
            :root,
            :root.theme-light {
                --main: var(--fg-1);
                --main-alt: var(--yay-alt);
                --pretty-gradient: linear-gradient(to right, #00b466, #37bc00);
            }

            :root.theme-dark {
                --bg-1: #191919;
                --pretty-gradient: linear-gradient(to right, #89FFCC, #9EFF76);
            }
            @media (prefers-color-scheme: dark) {
                :root,
                .root.theme-dark {
                    --bg-1: #191919;
                    --pretty-gradient: linear-gradient(to right, #89FFCC, #9EFF76);
                }
            }
            .pretty-text-gradient {
                background-image: var(--pretty-gradient);
                background-clip: text;
                color: transparent;
            }
        </style>
	</head>
	<body>
        <Header {activePage} />
        <div style="min-height: 70vh; margin-top: 0px;">
		    <slot />
        </div>
        <!-- <Footer/> -->
	</body>
</html>
