name: Push to Codeberg
on:
  workflow_dispatch:
jobs:
  push_to_codeberg:
    name: Push to Codeberg
    runs-on: ubuntu-latest
    steps:
      - name: Clone from GitHub
        run: git clone https://github.com/stt-nj/sttnj.org.git
      - name: Push to Codeberg
        run: |
          cd site
          git push https://ehanahamed:${{ secrets.CODEBERG_TOKEN }}@codeberg.org/stt-nj/sttnj.org.git --all
